
.Header-Button {
  margin: 20px;
  color: black;
}

.Submit-Button {
  color: black;
  background-color: white;
  border: 1px solid gray;
}

.Progress-Bar {
  height: 40px;
  width: 50%;
  position: fixed;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-flow: column;
}

.App-NavBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-Body{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 20px;
}

.App-footer{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.DetailedPage {
  min-height: 50h;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BasicPage {
  min-height: 50h;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers {
  text-align: left;
}

.container{
  margin: auto;
  display:flex;
  justify-content: space-around;
  padding: 3em 2.5em;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper{
  display: inline-block;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
  background-color: white;
  margin: 20px 5px ;
  border-radius: 0.62em;
  padding: 2px;
}

.App-detailed-loading{
  align-items: center;
}

.result-image{
  height: 392px;
  width: 392px;
}