.Header-Button {
  margin: 20px;
}

.Submit-Button {
  color: black;
  background-color: white;
  border: 1px solid gray;
}

.Progress-Bar {
  height: 40px;
  width: 50%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-flow: column;
}

.App-NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: darkblue;
}

.App-Body{
  background-color: lightskyblue;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 80px;
}

.App-footer{
  
  background-color: darkblue;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.DetailedPage {
  min-height: 50h;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BasicPage {
  min-height: 50h;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.Header-Button {
  margin: 20px;
}

.container{
  margin: auto;
  background-color: darkblue;
  display:flex;
  justify-content: space-around;
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper{
  display: inline-block;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
  background-color: white;
  margin: 20px 5px ;
  border-radius: 0.62em;
}


